.booking-modal-container {
  position: relative;
  top: 30px;
  .booking-modal-content {
    display: flex;
    flex-direction: column;
   
    .booking-modal-body {
      padding: 15px 15px 0px 15px;
      height: 100%;
      
      .right {
        float: right;
        cursor: pointer;
        margin-bottom: -10px;
        font-size: 20px;
      }
    }

    .booking-modal-footer {
      padding: 6px;
      display: flex;
      justify-content: flex-end;
      gap: 20px;

      button {
        border: none;
        outline: none;
        padding: 5px 15px;
        border-radius: 3px;
      }
      .btn-booking-confirm {
        background-color: orange;
      }
      .btn-booking-cancel {
        background-color: grey;
      }
    }
  }
}
